@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


*{
    margin:0;
    padding:0;
}

:root{

--rosa:#FFFBFF;
--preto:#EBD8D0;
--azul:#EAC9C1;
--verde:#D3AB9E;
--fonte-texto:"kameron",serif;
--fonte-titulo:"Fijalla", sans-serif;

}

.cabecalho{
    background-color: var(--azul#231a5b);
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
}

.cabecalho-imagem{
    width: 5%;
    border-radius: 100%;
    margin: 1em;
}

.cabecalho-lista-link{
text-decoration: none;
color: white;

}

.escola{
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
}

.escola-titulo{
padding: 25px 0;
font-family: var(--fonte-titulo)
}

.escola-imagem{
    width: 25% ;
}
